#contentlinks{
  background:rgba(255,255,255,0);
  border:0px;
  width:100%;
  text-align:left;
  padding-top:2px;
  padding-bottom:2px;
  transition-duration:0.2s;
}
#contentlinks:hover{
  background:rgba(255,255,255,0.2);
  border:2px solid #FFFFFF;
  border-radius:4px;  
  padding-top:0px;
  padding-bottom:0px;
  transition-duration:0.2s;
}
#mainm{
  height:98%;
  width:170px;
  position:fixed;
  top:0px;
  left:-200px;
  padding-left:15px;
  padding-right:15px;
  padding-top:7%;
  text-align:center;
  z-index:100000000;
  background:black!important;
}
#cmenu{
  height:98%;
  width:400px;
  position:fixed;
  top:0px;
  right:-430px;
  padding-left:15px;
  padding-right:15px;
  padding-top:3%;
  text-align:center;
  z-index:100000000;
  background:black!important;
}
#cmenu h1{
  color:white;
  font-size:32px;
}
#menu{
  height:85%;
  overflow-y:scroll;
}
#menu h1{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h1 strong{font-weight:100!important;}
#menu h2{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h2 strong{font-weight:100!important;}
#menu h3{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h3 strong{font-weight:100!important;}
#menu h4{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h4 strong{font-weight:100!important;}
#menu h5{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h5 strong{font-weight:100!important;}
#menu h6{color:white;font-size:20px;font-family:"Helvetica Neue","微软雅黑";font-weight:100;}
#menu h6 strong{font-weight:100!important;}
#menu::-webkit-scrollbar{background:#202020;}
#menu::-webkit-scrollbar-thumb{background:white;}
#linkk p{
  font-family:"仿宋";
  color:white;
  font-size:30px;
}
#blog_stats{
  font-family:"仿宋";
  color:white;
  font-size:20px;
}
#csdn p{
  font-family:"Letter Gothic Std";
  color:white;
  font-size:30px;
}
#char{color:#D25252;}
#navList{font-size:14px;}
#cb_post_title_url{font-size:23px;}
#homepage1_HomePageDays_ctl00_DayList_TitleUrl_0{font-size:23px;}
#SubTitle{font-size:15px;}
#Header1_HeaderTitle{
  font-family:"微软雅黑";
  font-size:32px;
}
#navigator{margin-top:-15px;}
#jrtjy{color:white;}
#tjy{
  font-family:"微软雅黑";
  font-size:30px;
  background:rgba(101,167,255,1);
  opacity:0.8;
  padding-top:7px;
  padding-bottom:7px;
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  z-index:1000000;
}
#home{
  width:75%;
  margin-top:72px;
  padding-top:5px;
  background:rgba(255,255,255,0.7);
}
#friend{
  height:0px;
  position:relative;
  overflow:hidden;
  background:rgba(255,255,255,0.4)!important;
}
#but{
  background-color:rgba(255,255,255,0.4);
  border-radius:8px;
  width:100%;
  border:2px solid rgba(255,255,255,0.6);
}
#but:hover{
  cursor:pointer;
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  width:100%;
  border:2px solid rgba(255,255,255,0.6);
  transition-duration:0.2s;
}
#but:active{
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  width:100%;
  border:2px solid rgba(255,255,255,0.6);
  transform:translateY(2px);
  transition-duration:0.1s;
}
#but h1{
  font-family:"微软雅黑";
  display:inline-block;
  position:relative;
  transition:0.3s;
}
#but h1:after{
  content:'dalaos';
  position:absolute;
  opacity:0;
  top:0;
  right:-20px;
  transition:0.3s;
}
#but:hover h1{padding-right:70px;}
#but:hover h1:after{opacity:1;right: 0;}
#blogCalendar{opacity:0.75;}
body{
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-attachment:fixed;
  background-position:center;
  overflow-x:hidden;
}
p{font-size:16px;}
#tbCommentBody{background:rgba(255,255,255,0.6);}
#q{background:rgba(255,255,255,0.4)!important;}
#google_q{background:rgba(255,255,255,0.4)!important;}
pre>code.hljs{opacity:0.9;}
pre.cpp>code.hljs{
  font-family:"Consolas"!important;
  color:#BED6FF!important;
  background-color:#1E1E1E!important;
}
pre.css>code.hljs{
  font-family:"Consolas"!important;
  color:#F8F8F2!important;
  background-color:#272822!important;
}
pre.cpp .hljs-meta{color:#79ABFF;}
pre.cpp .hljs-meta-string>#special{color:#79ABFF;}
pre.cpp .hljs-keyword{color:#FFFFFF;font-weight:400;}
pre.cpp .hljs-literal{color:#FFFFFF;font-weight:400;}
pre.cpp .hljs-built_in{color:#FFFFFF;}
pre.cpp .hljs-number{color:#7FB347}
pre.cpp .hljs-title{color:#BED6FF;}
pre.cpp .hljs-string{color:#FFC600;}
pre.cpp .hljs-comment{color:#FFC600;}
pre.css .hljs-selector-id{color:#A6E22E;}
pre.css .hljs-selector-class{color:#A6E22E;}
pre.css .hljs-number{color:#AE81FF;}
pre.css .hljs-string{color:#E6DB74;}
pre.css .hljs-meta{color:#F9264C;}
pre.css .hljs-selector-tag{color:#F9264C;}
pre.css .hljs-selector-pseudo{color:#F8F8F2;}
pre.css .hljs-attribute{color:#66D9EF;}
pre.css .hljs-built_in{color:#66D9EF;}
table{width:100%;}
#sideBar div{background:rgba(0,0,0,0);}
.header{background-color:rgba(0,0,0,0.15)}
img{opacity:0.7;}
#symbol{color:#D9E577;}
#mainbt{
  background-color:rgba(255,255,255,0.7);
  position:fixed;
  text-align:right;
  padding-right:0.5%;
  left:-20px;
  top:46%;
  height:8%;
  width:45px;
  z-index:10000000;
  border-radius:8px;
  border:0px;
}
#mainbt span{font-size:30px;}
#menubt{
  background-color:rgba(255,255,255,0.7);
  position:fixed;
  text-align:left;
  padding-left:0.5%;
  right:-20px;
  top:46%;
  height:8%;
  width:45px;
  z-index:10000000;
  border-radius:8px;
  border:0px;
}
#menubt span{font-size:26px;}
